/* font poppins */
.poppins-font {
  font-family: "Poppins", sans-serif;
}

/* font hind siliguri */
.hind-siliguri-font {
  font-family: "Hind Siliguri", sans-serif;
  
}
/* font trio bangla */
.tiro-bangla-font {
  font-family: "Tiro Bangla", serif;
}

/* font inter */
.inter-font {
  font-family: "Inter", sans-serif;
}

.active{
    background-color: #422AD5;
    color: white;
}